<form method='POST' action='/edit/<%= student._id %>?_method=PUT'>
<input name='name' value='<%= student.name %>'/>
<input name='email' value='<%= student.email %>'/>
<input name='course' value='<%= student.course %>'/>
<input name='age' value='<%= student.age %>'/>
<button>Update</button>
</form>
